@page
@model AccessDeniedModel
@{
   ViewData["Title"] = "Acesso negado";
}

<header>
   <h1 class="text-danger">@ViewData["Title"]</h1>
   <p class="text-danger">
      Você não tem acesso a este recurso.<br />
      Eu chamo a Polícia se continuar a fazer essa asneira...
   </p>
</header>
